Appendix A: Bonus Lesson on Applying SQL with Python

In [2]:
#Listing A.1: Script to Get MySQL Version

import pymysql

con = pymysql.connect(host='localhost', user='root', password='admin', db='mysql')
with con.cursor() as cur:
    cur.execute("SELECT VERSION()")
    version = cur.fetchone()
    print("Database version: {}".format(version[0]))
con.close()

Database version: 8.0.27

In [1]:
#Listing A.2: Create a Database

import pymysql

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='mysql')
with con:
    cur = con.cursor()
    cur.execute("CREATE DATABASE recordshop;")
    
print("Database created")

Database created

In [2]:
#Listing A.3: Deleting the recordshop Database

import pymysql

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='mysql')
with con:
    cur = con.cursor()
    cur.execute("DROP DATABASE recordshop;")
    
print("Database deleted")

Database deleted

In [3]:
#Listing A.4: Specifying the Database to Use

import pymysql

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='mysql')    
print(con)

<pymysql.connections.Connection object at 0x000002238D7CDDC0>

In [6]:
#Listing A.5: A More Complete Connection Process

import pymysql

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin')
with con:
    cur = con.cursor() #create a curson object
    cur.execute("DROP DATABASE IF EXISTS recordshop;")
    cur.execute("CREATE DATABASE recordshop;")
    cur.close() #close connection to MySQL
print("Database created")

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop') 
with con:
    cur = con.cursor()
    cur.execute("SELECT DATABASE();")
    for row in cur:
        dbname = row[0]
        
print("Connected to " + dbname)

#This script performs the following actions:
#1. It connects to the MySQL server without specifying a database.
#2. It checks for the recordshop database and drops it if it exists.
#3. It creates the recordshop database.
#4. It closes the connection with MySQL.
#5. It reconnects to MySQL and the recordshop database.

Database created
Connected to recordshop

In [7]:
#listing A.6: Displaying All Databases

import pymysql

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='La1La1SQL')
with con:
    cur = con.cursor() #create a cursor object.
    cur.execute("SHOW DATABASES;")
    for row in cur:
        print(row[0])

books
consumercomplaints
information_schema
movies
mysql
performance_schema
personaltrainer
recordshop
sakila
sys
trackit
vinylrecordshop
world

In [16]:
#Listing A.7: Creating the artist Table

import pymysql

create_table_query = """
                CREATE TABLE artist (
                    artist_id int(11) NOT NULL,
                    fname varchar(40) NOT NULL,
                    lname varchar(40) NOT NULL,
                    isHallofFame tinyint(1) NOT NULL
                    ) ENGINE=InnoDB DEFAULT CHARSET=latin1;
                    """
print(create_table_query)

show_table_query = """SHOW TABLES;"""

describe_table_query = """DESCRIBE artist;"""

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor() #create a cursor object used to execute MySQL queries.
    cur.execute(create_table_query)
    
    cur.execute(show_table_query)
    for row in cur:
        print(row[0])
        
        cur.execute(describe_table_query)
        for row in cur:
            print(row)

                CREATE TABLE artist (
                    artist_id int(11) NOT NULL,
                    fname varchar(40) NOT NULL,
                    lname varchar(40) NOT NULL,
                    isHallofFame tinyint(1) NOT NULL
                    ) ENGINE=InnoDB DEFAULT CHARSET=latin1;

OperationalError: (1050, "Table 'artist' already exists")

In [17]:
#Listing A.8: Altering a Table

import pymysql

alter_query_1 = """ALTER TABLE artist
                ADD PRIMARY KEY (artist_id);"""

alter_query_2 = """ALTER TABLE artist
                MODIFY artist_id int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=0;"""

describe_table_query = """TABLE artist;"""

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor() # create a cursor object.
    cur.execute(alter_query_1)
    
    cur.execute(alter_query_2)
    
    cur.execute(describe_table_query)
    for row in cur:
        print(row)

In [18]:
#Listing A.9: Removing a Table

import pymysql

drop_query = """DROP TABLE artist;"""

show_table_query = """SHOW TABLES;"""

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor() # create a cursor object.
    cur.execute(drop_query)
    
    cur.execute(show_table_query)
    for row in cur:
        print(row[0])
        
print("Ready")

Ready

In [ ]:
#Listing A.10: Rebuilding the artist Table in the recordshop Database

import pymysql