Appendix A: Bonus Lesson on Applying SQL with Python
Written on: January 9, 2025

In [2]:
#Listing A.1: Script to Get MySQL Version

import pymysql

con = pymysql.connect(host='localhost', user='root', password='admin', db='mysql')
with con.cursor() as cur:
    cur.execute("SELECT VERSION()")
    version = cur.fetchone()
    print("Database version: {}".format(version[0]))
con.close()

Database version: 8.0.27

In [1]:
#Listing A.2: Create a Database

import pymysql

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='mysql')
with con:
    cur = con.cursor()
    cur.execute("CREATE DATABASE recordshop;")
    
print("Database created")

Database created

In [2]:
#Listing A.3: Deleting the recordshop Database

import pymysql

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='mysql')
with con:
    cur = con.cursor()
    cur.execute("DROP DATABASE recordshop;")
    
print("Database deleted")

Database deleted

In [3]:
#Listing A.4: Specifying the Database to Use

import pymysql

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='mysql')    
print(con)

<pymysql.connections.Connection object at 0x000002238D7CDDC0>

In [6]:
#Listing A.5: A More Complete Connection Process

import pymysql

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin')
with con:
    cur = con.cursor() #create a curson object
    cur.execute("DROP DATABASE IF EXISTS recordshop;")
    cur.execute("CREATE DATABASE recordshop;")
    cur.close() #close connection to MySQL
print("Database created")

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop') 
with con:
    cur = con.cursor()
    cur.execute("SELECT DATABASE();")
    for row in cur:
        dbname = row[0]
        
print("Connected to " + dbname)

#This script performs the following actions:
#1. It connects to the MySQL server without specifying a database.
#2. It checks for the recordshop database and drops it if it exists.
#3. It creates the recordshop database.
#4. It closes the connection with MySQL.
#5. It reconnects to MySQL and the recordshop database.

Database created
Connected to recordshop

In [7]:
#listing A.6: Displaying All Databases

import pymysql

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin')
with con:
    cur = con.cursor() #create a cursor object.
    cur.execute("SHOW DATABASES;")
    for row in cur:
        print(row[0])

books
consumercomplaints
information_schema
movies
mysql
performance_schema
personaltrainer
recordshop
sakila
sys
trackit
vinylrecordshop
world

In [3]:
#Listing A.7: Creating the artist Table

import pymysql

create_table_query = """
                CREATE TABLE artist (
                    artist_id int(11) NOT NULL,
                    fname varchar(40) NOT NULL,
                    lname varchar(40) NOT NULL,
                    isHallofFame tinyint(1) NOT NULL
                    ) ENGINE=InnoDB DEFAULT CHARSET=latin1;
                    """
print(create_table_query)

show_table_query = """SHOW TABLES;"""

describe_table_query = """DESCRIBE artist;"""

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor() #create a cursor object used to execute MySQL queries.
    cur.execute(create_table_query)
    
    cur.execute(show_table_query)
    for row in cur:
        print(row[0])
        
        cur.execute(describe_table_query)
        for row in cur:
            print(row)

                CREATE TABLE artist (
                    artist_id int(11) NOT NULL,
                    fname varchar(40) NOT NULL,
                    lname varchar(40) NOT NULL,
                    isHallofFame tinyint(1) NOT NULL
                    ) ENGINE=InnoDB DEFAULT CHARSET=latin1;

artist
('artist_id', 'int', 'NO', '', None, '')
('fname', 'varchar(40)', 'NO', '', None, '')
('lname', 'varchar(40)', 'NO', '', None, '')
('isHallofFame', 'tinyint(1)', 'NO', '', None, '')

In [17]:
#Listing A.8: Altering a Table

import pymysql

alter_query_1 = """ALTER TABLE artist
                ADD PRIMARY KEY (artist_id);"""

alter_query_2 = """ALTER TABLE artist
                MODIFY artist_id int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=0;"""

describe_table_query = """TABLE artist;"""

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor() # create a cursor object.
    cur.execute(alter_query_1)
    
    cur.execute(alter_query_2)
    
    cur.execute(describe_table_query)
    for row in cur:
        print(row)

In [18]:
#Listing A.9: Removing a Table

import pymysql

drop_query = """DROP TABLE artist;"""

show_table_query = """SHOW TABLES;"""

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor() # create a cursor object.
    cur.execute(drop_query)
    
    cur.execute(show_table_query)
    for row in cur:
        print(row[0])
        
print("Ready")

Ready

In [6]:
#Listing A.10: Rebuilding the artist Table in the recordshop Database

import pymysql

drop_artist = """DROP TABLE IF EXISTS artist;"""

create_artist = """
            CREATE TABLE artist (
                artist_id int(11) NOT NULL AUTO_INCREMENT,
                fname varchar(40) NOT NULL,
                lname varchar(40) NOT NULL,
                isHallOfFame tinyint(1) NOT NULL,
                PRIMARY KEY (artist_id)
            )
            ENGINE=InnoDB DEFAULT CHARSET=latin1;
          """

show_tables = """SHOW TABLES;"""

describe_artist = """DESCRIBE artist;"""

#update connection data as required for the local MySQL setup
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor() # create a cursor object.
    cur.execute(drop_artist)
    
    cur.execute(create_artist)
    
    cur.execute(show_tables)
    for row in cur:
        print("Tables in database: \n" + str(row[0]))
        
    cur.execute(describe_artist)
    print("\nFields in table:")
    for row in cur:
        print(row)

Tables in database:
artist

Fields in table:
('artist_id', 'int', 'NO', 'PRI', None, 'auto_increment')
('fname', 'varchar(40)', 'NO', '', None, '')
('lname', 'varchar(40)', 'NO', '', None, '')
('isHallOfFame', 'tinyint(1)', 'NO', '', None, '')

In [10]:
#Listing A.11: Creating Data in the artist Table

import pymysql

insert_query = """INSERT INTO artist(artist_id, fname, lname, isHallOfFame)
                VALUES
                    (1,'John','Lennon',1),
                    (2,'Paul','McCartney',1),
                    (3,'George','Harrison',1),
                    (4,'Ringo','Starr',1),
                    (5,'Denny','Zager',0),
                    (6,'Rick','Evans',0),
                    (10,'Van','Morrison',1),
                    (11,'Judy','Collins',0),
                    (12,'Paul','Simon',1),
                    (13,'Art','Garfunkel',0),
                    (14,'Brian','Wilson',0),
                    (15,'Dennis','Wilson',0),
                    (16,'Carl','Wilson',0),
                    (17,'Ricky','Fataar',0),
                    (18,'Blondie','Chaplin',0),
                    (19,'Jimmy','Page',0),
                    (20,'Robert','Plant',0),
                    (21,'John Paul','Jones',0),
                    (22,'John','Bonham',0),
                    (23,'Mike ','Love',0),
                    (24,'Al ','Jardine',0),
                    (25,'David','Marks',0),
                    (26,'Bruce ','Johnston',0);"""

view_records = """SELECT *
                    FROM artist
                    LIMIT 5;
                    """

#use appropriate values to connect to the local MySQL sever
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor() # create a cursor object.
    cur.execute(insert_query) # execute insert query
    
    cur.execute(view_records)
    con.commit()
    for row in cur:
        print(row)

(1, 'John', 'Lennon', 1)
(2, 'Paul', 'McCartney', 1)
(3, 'George', 'Harrison', 1)
(4, 'Ringo', 'Starr', 1)
(5, 'Denny', 'Zager', 0)

In [11]:
#Listing A.12: Retrieve Data from the artist Table

import pymysql
retrieve_query ="""SELECT *
                    FROM artist;"""

#use appropriate values to connect to the local MySQL sever
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor()          # create a cursor object.
    cur.execute(retrieve_query) # execute retrieve query
    for row in cur:
        print(row)

(1, 'John', 'Lennon', 1)
(2, 'Paul', 'McCartney', 1)
(3, 'George', 'Harrison', 1)
(4, 'Ringo', 'Starr', 1)
(5, 'Denny', 'Zager', 0)
(6, 'Rick', 'Evans', 0)
(10, 'Van', 'Morrison', 1)
(11, 'Judy', 'Collins', 0)
(12, 'Paul', 'Simon', 1)
(13, 'Art', 'Garfunkel', 0)
(14, 'Brian', 'Wilson', 0)
(15, 'Dennis', 'Wilson', 0)
(16, 'Carl', 'Wilson', 0)
(17, 'Ricky', 'Fataar', 0)
(18, 'Blondie', 'Chaplin', 0)
(19, 'Jimmy', 'Page', 0)
(20, 'Robert', 'Plant', 0)
(21, 'John Paul', 'Jones', 0)
(22, 'John', 'Bonham', 0)
(23, 'Mike ', 'Love', 0)
(24, 'Al ', 'Jardine', 0)
(25, 'David', 'Marks', 0)
(26, 'Bruce ', 'Johnston', 0)

In [14]:
#Listing A.13: Updating Data in the artist Table

import pymysql

select_query = """SELECT *
                FROM artist
                WHERE lname = 'Lennon';"""

update_query = """UPDATE artist
            SET isHallOfFame = 1
            WHERE lname = 'Lennon';"""

#use appropriate values to connect to the local MySQL sever
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor()          # create a cursor object.
    cur.execute(select_query) # view the record before changing the date
    for row in cur:
        print(row)
    
    cur.execute(update_query) # execute the update query
    
    con.commit()
    
    cur.execute(select_query)  # view the record after changing the data
    for row in cur:
        print(row)

(1, 'John', 'Lennon', 0)
(1, 'John', 'Lennon', 1)

In [15]:
#Listing A.14: Delete Data from the artist Table

import pymysql
select_query = """SELECT *
                FROM artist
                WHERE lname = 'Fataar';"""

update_query = """DELETE FROM artist
                WHERE lname='Fataar';"""

#use appropriate values to connect to the local MySQL sever
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor()          # create a cursor object.
    cur.execute(select_query) # view record table before changing the data
    for row in cur:
        print(row)
    
    cur.execute(update_query) # execute update query
    
    con.commit()
    
    cur.execute(select_query) # view the record after changing the data
    for row in cur:
        print(row)

(17, 'Ricky', 'Fataar', 0)

In [16]:
#Listing Extra: Retrieve final data

import pymysql
select_query = """SELECT *
                FROM artist;"""

#use appropriate values to connect to the local MySQL sever
con = pymysql.connect(host='localhost', user='root', password='admin', db='recordshop')
with con:
    cur = con.cursor()          # create a cursor object.
    cur.execute(select_query) # view record table
    for row in cur:
        print(row)

(1, 'John', 'Lennon', 1)
(2, 'Paul', 'McCartney', 1)
(3, 'George', 'Harrison', 1)
(4, 'Ringo', 'Starr', 1)
(5, 'Denny', 'Zager', 0)
(6, 'Rick', 'Evans', 0)
(10, 'Van', 'Morrison', 1)
(11, 'Judy', 'Collins', 0)
(12, 'Paul', 'Simon', 1)
(13, 'Art', 'Garfunkel', 0)
(14, 'Brian', 'Wilson', 0)
(15, 'Dennis', 'Wilson', 0)
(16, 'Carl', 'Wilson', 0)
(18, 'Blondie', 'Chaplin', 0)
(19, 'Jimmy', 'Page', 0)
(20, 'Robert', 'Plant', 0)
(21, 'John Paul', 'Jones', 0)
(22, 'John', 'Bonham', 0)
(23, 'Mike ', 'Love', 0)
(24, 'Al ', 'Jardine', 0)
(25, 'David', 'Marks', 0)
(26, 'Bruce ', 'Johnston', 0)