In [1]:
pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymysql

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='res103ns.2',
                             database='vinylrecordshop')

In [5]:
cursor = connection.cursor()

In [6]:
cursor.execute("SELECT * FROM artist")

23

In [7]:
cursor.fetchall()

((1, 'John', 'Lennon', 1),
 (2, 'Paul', 'McCartney', 1),
 (3, 'George', 'Harrison', 1),
 (4, 'Ringo', 'Starr', 1),
 (5, 'Denny', 'Zager', 0),
 (6, 'Rick', 'Evans', 0),
 (10, 'Van', 'Morrison', 1),
 (11, 'Judy', 'Collins', 0),
 (12, 'Paul', 'Simon', 1),
 (13, 'Art', 'Garfunkel', 0),
 (14, 'Brian', 'Wilson', 0),
 (15, 'Dennis', 'Wilson', 0),
 (16, 'Carl', 'Wilson', 0),
 (17, 'Ricky', 'Fataar', 0),
 (18, 'Blondie', 'Chaplin', 0),
 (19, 'Jimmy', 'Page', 0),
 (20, 'Robert', 'Plant', 0),
 (21, 'John Paul', 'Jones', 0),
 (22, 'John', 'Bonham', 0),
 (23, 'Mike ', 'Love', 0),
 (24, 'Al ', 'Jardine', 0),
 (25, 'David', 'Marks', 0),
 (26, 'Bruce ', 'Johnston', 0))